/* src/App.css */
.exercise {
  margin-bottom: 30px;
}
.exercise img {
  width: 100px;
  height: auto;
}
.exercise h2 {
  font-size: 1.2em;
  color: #0056b3;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}
.calendar label {
  display: block;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
}